
.main-image {
  min-width: 620px;
  min-height: 500px;

  /* height: 500px;
  width: 700px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30px;
}
/* .image-and-p {
  min-width: 620px;
} */

@media only screen and (max-width: 500px) {
.main-image{
  width: 500;
  height: 500;
}

.main-paragraph{
  min-width: 500px;
}
}
.main-paragraph{
  min-width: 500px;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

p {
  margin-left: 30px;
}

.div {
  padding-left: 20px;
}