.beer-emoji{
    height: 300px;
    width: 300px;
    /* background-color: black; */
    max-height: 250px;
    max-width: 250px;
    padding-right: 50px;
    padding-left: 50px;
}

.beer-image{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50;
}

.beer-image:hover {
    border: 2px solid black;
}

.beer-emoji:hover {
    border: 2px solid black;
}

.beer-name{
    /* max-width: 200px; */
    text-align: center;
    text-decoration: none;
    color: black;
    text-decoration: none;
}
