.header-home{
    background-color: rgb(33, 60, 95);
    color: whitesmoke;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 620px) {
    .header-home{
        min-width: 600px;
    }
  
    }