.nav-home{
    padding-left: 40px;
    text-decoration: none;
    font-size: large;
}
.nav-home:hover{
    color:red;
    text-decoration: underline;
}

.nav-header{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 620px) {
    .nav-header{
        min-width: 620px;
    }
  
    }